p=t('templates.email.greeting')
p=t('templates.comment-published.body')
h4=t('templates.comment-published.topic')
p="TOPIC"
h4=t('templates.comment-published.author')
p="AUTHOR"
h4=t('templates.comment-published.text')
p="COMMENT"
p!=t('templates.comment-published.body2')
p=t('templates.email.signature')
